body {
  font-family: Arial, sans-serif;
  background-color: #313131;
  color: #b1b1b1;
  margin: 0;
  padding: 2rem;
}

#ip4-container {
  font-family: monospace;
  font-size: 1.2rem;
}
.ip4-octet-input {
  text-align: center;
  font-size: 1.2rem;
  width: 3rem;
}
